<div class="flip-book" id="demoBookExample">
    <div class="page page-cover page-cover-top" data-density="hard">
        <div class="page-content">
            <h2>Unidad 1</h2>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area izquierda">
                <div class="paper-content">
                    <h2>5.2 Proceso de preparación y evaluación de proyectos</h2>
                    <p>La formulación y evaluación de proyectos de inversión requiere de un equipo multidisciplinario; es decir, de la intervención de personas con diferentes perfiles: se necesitan, por ejemplo, administradores, economistas, actuarios, contadores, ingenieros, mercadólogos, psicólogos y muchos otros especialistas en función de las características del proyecto.</p>
                    <p>Diferentes autores concuerdan en que antes de tomar la decisión de invertir en un proyecto es necesario llevar a cabo un proceso de preparación y evaluación del mismo que incluye los siguientes estudios: de mercado, técnico, administrativo o de organización y financiero (Baca, 2016; Sapag, 2007; Angulo, 2016).</p>
                    <p>Cada uno de dichos estudios nos brinda información relevante y fiable, por ejemplo, sobre la demanda insatisfecha del mercado, los costos totales, el monto de la inversión y el rendimiento sobre la inversión, entre otros. Esto no quiere decir que no se tenga que tomar una decisión muy personal por los inversionistas, emprendedores o quienes desarrollarán el proyecto, ya que la información y los resultados obtenidos solamente proporcionan las bases para la toma de decisiones.</p>
                    <h2>5.2 Proceso de preparación y evaluación de proyectos</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area derecha">
                <div class="paper-content">
                    <textarea style="resize: none;" autofocus disabled="true">Hola como estas Hola como estas Hola como estas Hola como estas Hola como estas</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area izquierda">
                <div class="paper-content">
                    <textarea style="resize: none;" autofocus disabled="true">Hola como estas Hola como estas Hola como estas Hola como estas Hola como estas</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area derecha">
                <div class="paper-content">
                    <textarea style="resize: none;" autofocus disabled="true">Hola como estas Hola como estas Hola como estas Hola como estas Hola como estas</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area izquierda">
                <div class="paper-content">
                    <textarea style="resize: none;" autofocus disabled="true">Hola como estas Hola como estas Hola como estas Hola como estas Hola como estas</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area derecha">
                <div class="paper-content">
                    <textarea style="resize: none;" autofocus disabled="true">Hola como estas Hola como estas Hola como estas Hola como estas Hola como estas</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
        </div>
    </div>
    <div class="page page-cover page-cover-top" data-density="hard">
        <div class="page-content">
        </div>
    </div>
</div>