<div class="flip-book" id="demoBookExample">
    <div class="page page-cover page-cover-top" data-density="hard">
        <div class="page-content">
            <h2>Unidad 1</h2>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>Introducción</h2>
                    <p>Las empresas, al producir bienes y con estos satisfacer las necesidades del mercado, constituyen la columna vertebral de la economía. Una empresa antes de iniciar operaciones debe, entre otros trámites, constituirse jurídicamente y darse de alta ante el Servicio de Administración Tributaria (SAT) derivándose así, tanto derechos como obligaciones en función del régimen fiscal en el que se haya inscrito.</p>
                    <p>En una economía de mercado el fin de la empresa es la obtención del máximo beneficio o lucro, que dependerá, entre otros factores, de la administración que se haga del dinero y de las decisiones que se tomen en relación a ¿cuánto gastar?, ¿en qué gastar?, ¿en qué invertir?, etc.; es decir, la obtención de utilidades dependerá en gran medida de la actividad financiera de la empresa.</p>
                    <p>En esta unidad temática conocerás las diferentes formas de constitución jurídica en México; la función y objetivo de las finanzas empresariales; la relación que tienen las finanzas con otras disciplinas y los factores del micro y macro ambiente que impactan a las empresas y desde luego a sus finanzas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>Unidad de competencia</h2>
                    <p>Reconoce el papel de las finanzas a partir del contexto empresarial.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>1.1. La empresa</h2>
                    <p>Independientemente del lugar en donde te encuentres en este momento, mira a tu alrededor y notarás la existencia de una gran cantidad de satisfactores (bienes). Estos son producidos y/o distribuidos por diferentes empresas.</p>
                    <p>Algunas definiciones de empresa son:</p>
                    <ul>
                        <li>Acción de emprender una cosa con un riesgo implícito (Münch, 2017).</li>
                        <li>Unidad económica de producción dedicada a actividades industriales, mercantiles o de prestación de servicios, cuyo objetivo dependerá del sistema de organización económica en que se desarrolle. En una economía de mercado, el fin de la empresa consiste en la obtención del máximo beneficio o lucro (Graue, 2009).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>1.1.1 Constitución jurídica</h2>
                    <p>En México de acuerdo con el Servicio de Administración Tributaria (SAT) para fines fiscales existen las siguientes figuras: personas físicas y personas morales.</p>
                    <h3>Persona física</h3>
                    <p>"Individuo que realiza cualquier actividad económica (vendedor, comerciante, empleado, profesionista, etc.), el cual tiene derechos y obligaciones (SAT, s.f). En el siguiente link conoce las actividades que como persona física se pueden realizar":</p>
                    <h3>Persona moral</h3>
                    <p>"Es el conjunto de personas físicas, que se unen para la realización de un fin colectivo, son entes creados por el derecho, no tienen una realidad material o corporal (no se pueden tocar como tal como en el caso de una persona física), sin embargo, la ley les otorga capacidad jurídica para tener derechos y obligaciones (SAT, s.f)".</p>
                    <p>Cabe señalar que la persona moral es una agrupación de personas que pueden constituirse jurídicamente como sociedades o asociaciones, las más usuales se pueden visualizar en la tabla 1.1</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <p> </p>
                    <table>
                        <caption>Tabla 1.1 Constitución jurídica de las personas morales</caption>
                        <tr>
                            <th>Sociedad/Asociación:</th>
                            <th>Regulada por:</th>
                        </tr>
                        <tr>
                            <td>Sociedad en nombre colectivo (S.N.C)</td>
                            <td rowspan="6" class="centrado">Ley General de Sociedades Mercantiles (L.G.S.M)</td>
                        </tr>
                        <tr>
                            <td>Sociedad en comandita simple (S.C.S)</td>
                        </tr>
                        <tr>
                            <td>Sociedad de responsabilidad limitada (S.R.L)</td>
                        </tr>
                        <tr>
                            <td>Sociedad anónima (S.A)</td>
                        </tr>
                        <tr>
                            <td>Sociedad en comandita por acciones (S.C.A)</td>
                        </tr>
                        <tr>
                            <td>Sociedad por acciones simplificada (S.A.S)</td>
                        </tr>
                        <tr>
                            <td>Sociedad cooperativa</td>
                            <td class="centrado">Ley General de Sociedades Cooperativas (L.G.S.C)</td>
                        </tr>
                        <tr>
                            <td>Asociación civil (A.C)</td>
                            <td rowspan="2" class="centrado">Código Civil</td>
                        </tr>
                        <tr>
                            <td>Sociedad civil (S.C)</td>
                        </tr>
                        <caption style="caption-side: bottom;">Hernández, J., Rodríguez, E. & Jiménez, Y. (2022). Con base en la Ley General de Sociedades Mercantiles,</caption>
                        <caption style="caption-side: bottom;">Ley General de Sociedades Cooperativas y Código Civil.</caption>
                    </table>
                    <p>Es importante señalar que algunas de las sociedades antes mencionadas han caído en desuso, tal es el caso de la sociedad en nombre colectivo, la sociedad en comandita simple y la sociedad en comandita por acciones.</p>
                    <p>En la siguiente lectura encontrarás más información sobre las empresas y su constitución jurídica.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>1.1.2 El área financiera en la estructura organizacional</h2>
                    <p>Para explicar en qué consiste la estructura organizacional usaremos la siguiente analogía: el ser humano tiene un sistema óseo que le permite tener movimiento, un sistema respiratorio que le proporciona el oxígeno para vivir; un sistema digestivo que le suministra nutrientes; un sistema circulatorio que transporta la sangre y distribuye nutrientes; un sistema excretor que lo limpia de impurezas; un cerebro que rige el funcionamiento general del organismo; entre otros, del mismo modo las organizaciones requieren de una estructura para su funcionamiento.</p>
                    <figure>
                        <img style="height: 50vh" src="../../../assets/ico/112-1.png" />
                        <figcaption>Hernández, J., Rodríguez, E. & Jiménez, Y. (2022).</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <p></p>
                    <p>Así como no hay dos personas iguales, tampoco hay dos estructuras organizacionales iguales. La estructura organizacional se diseña en función de las necesidades de cada organización considerando aspectos como el tamaño, el giro y el tipo de organización. Por lo que es un hecho que entre más grande sea la empresa su organización será más robusta.</p>
                    <p>A partir de este momento, por ser el tema central de este recurso didáctico digital, solo nos enfocaremos en el área financiera la cual se lleva a cabo mediante dos actividades importantes: Tesorería y Contraloría.</p>
                    <h3 class="pegado">Tesorería:</h3>
                    <p>Se enfoca en el manejo de los recursos financieros.</p>
                    <h3 class="pegado">Contraloría:</h3>
                    <p>Responsable de la actividad contable,planeación, presupuestos y auditoría interna.</p>
                    <ul>
                        <li><i>Contabilidad</i>: Se encarga del registro, en tiempo y forma, de todas las operaciones realizadas en la organización.</li>
                        <li><i>Presupuestos</i>: Planifica, coordina y evalúa todas las actividades en términos financieros, analiza y compara los gastos del presupuesto anterior con el presupuesto vigente, a fin de determinar acciones para el ajuste del presupuesto de la organización.</li>
                        <li><i>Auditoría</i>: Se encarga de revisar, examinar y evaluar los resultados de la gestión de una dependencia o entidad.</li>
                    </ul>
                    <p>La organización delimita las actividades y la toma de decisiones en cada una de las áreas. Cabe destacar que todas las organizaciones, independientemente de su tamaño y giro cuentan con un área financiera. Las demás áreas de la empresa (capital humano, ventas, manufactura, marketing y sistemas, etc.) están en constante comunicación con el área financiera, por ejemplo, para justificar sus requerimientos de recursos humanos y negociar diferentes presupuestos operativos, entre otros.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>1.2 Función y objetivo de las finanzas empresariales</h2>
                    <h3>¿Qué son las finanzas?</h3>
                    <p>Finanzas es un término que seguramente has escuchado con mucha frecuencia y de hecho en tu vida diaria, de algún modo, realizas actividades relacionadas con dicha disciplina. Hay tantas definiciones del término finanzas como autores al respecto, en la figura 1.4 se rescatan algunas de ellas.</p>
                    <figure>
                        <img style="height: 53vh" src="../../../assets/ico/12-1.png" />
                        <figcaption>Hernández, J., Rodríguez, E. & Jiménez, Y. (2022).</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <p></p>
                    <p>Siguiendo a Gitman (2012) las finanzas son el arte y la ciencia de administrar el dinero. Al respecto, el autor enfatiza que las finanzas afectan las decisiones tanto de los individuos como de las empresas, ya que ambos en algún momento se enfrentan a la decisión de cuánto dinero gastar, cuánto ahorrar y cómo invertir los ahorros.</p>
                    <p>Específicamente en la empresa las finanzas se enfocan en:</p>
                    <ul>
                        <li>Cómo incrementar el dinero de los inversionistas</li>
                        <li>Cómo invertir el dinero para maximizar las utilidades</li>
                        <li>De qué modo conviene reinvertir las ganancias de la empresa o distribuirlas entre los inversionistas</li>
                    </ul>
                    <p>Para lograr lo anterior se requiere del financiamiento y de la inversión, ambas son consideradas como las funciones principales de las finanzas. En este sentido, se entiende por <b>financiamiento</b> la obtención de recursos provenientes de una o varias fuentes de financiamiento; en tanto que la <b>inversión</b> se refiere propiamente a la utilización que se hace de dichos recursos. Por ejemplo, en el caso de una organización podría invertir en infraestructura (instalaciones, bodegas, maquinaria, equipo, entre otros) a este tipo de inversión se le conoce como inversión fija; y también podría invertir en el proceso operativo del negocio.</p>
                    <p>Hablar de finanzas implica hablar de contabilidad. La contabilidad se encarga principalmente del registro de las operaciones de la entidad, de la elaboración de los estados financieros, de la elaboración de reportes con información financiera y de calcular y pagar impuestos; por lo que constituye el principal sistema de información cuantitativa de la organización.</p>
                    <p>La contabilidad forma parte del área financiera y la función financiera se lleva a cabo mediante dos actividades importantes:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <p></p>
                    <h3>Tesorería:</h3>
                    <p>Básicamente se enfoca al manejo de los recursos financieros, entre sus principales actividades se encuentran:</p>
                    <ul>
                        <li>Administración del flujo de efectivo</li>
                        <li>Inversiones</li>
                        <li>Presupuestos</li>
                        <li>Financiamiento</li>
                        <li>Administración de activos</li>
                    </ul>
                    <h3>Contraloría:</h3>
                    <p>Área encargada de coordinar y dirigir las siguientes actividades:</p>
                    <ul>
                        <li>Contabilidad</li>
                        <li>Pronósticos</li>
                        <li>Administración de riesgos</li>
                        <li>Verificar que le Administración esté de acuerdo con los objetivos de la empresa</li>
                        <li>Auditoría interna</li>
                        <li>Desarrollo de políticas y procedimientos</li>
                    </ul>
                    <p>Para que la función financiera se lleve a cabo en forma adecuada requiere de información verídica y confiable proporcionada por el área contable.</p>
                    <p>En la figura 1.3 encontrarás algunas de las principales funciones de las áreas contable y financiera.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <figure>
                        <img class="derecha" style="height: 59.4vh" src="../../../assets/ico/12-2.png" />
                        <figcaption>Hernández, J., Rodríguez, E. & Jiménez, Y. (2022).</figcaption>
                    </figure>
                    <p>Como se puede apreciar en la figura 1.3 la función contable debe considerarse como un insumo necesario para la función financiera.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>1.3 Las finanzas empresariales y su relación con otras disciplinas (Ética, Economía, Derecho, Matemáticas, etc.)</h2>
                    <h3>Ética</h3>
                    <p>La ética trata sobre lo que se considera un comportamiento humano correcto; es decir, con la práctica de valores. Todo lo relacionado con las finanzas y el manejo del dinero debe ser honesto, claro, transparente y digno de confianza.</p>
                    <h3>Economía</h3>
                    <p>La economía es la ciencia que se centra en la satisfacción de las necesidades humanas, así como en la generación y administración de la riqueza por lo que tiene una relación estrecha con las finanzas.</p>
                    <h3>Derecho</h3>
                    <p>El Derecho a través de diferentes leyes regula las actividades financieras y de no acatarse y/o cumplirse dichas leyes hay sanciones en materia legal.</p>
                    <h3>Matemáticas</h3>
                    <p>Las matemáticas están tan estrechamente ligadas con las finanzas que incluso ha surgido el término matemáticas financieras en las que se utilizan la aritmética y el álgebra en temas como valor presente, valor futuro, costo de capital y tasas de interés, por mencionar algunos.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>1.4. Factores del micro y macro ambiente que impactan a la empresa y a sus finanzas</h2>
                    <p>La empresa es un sistema abierto porque tiene elementos interrelacionados entre sí y con el entorno; es decir no existe en forma aislada, sino que interactúa con su entorno existiendo un impacto bidireccional. El entorno se conforma por el micro y macro ambiente.</p>
                    <h3 class="azul pegado">Micro ambiente</h3>
                    <p>Representado por elementos que tienen relación directa con la empresa e influyen en ella.</p>
                    <h3 class="pegado">Proveedores</h3>
                    <p>Son las entidades que venden bienes o prestan servicios a la empresa. Por ejemplo: materia prima, equipo de cómputo, mobiliario y equipo de oficina, servicios de internet, servicios de mantenimiento, etc.</p>
                    <h3 class="pegado">Clientes</h3>
                    <p>Son quienes compran bienes o adquieren servicios de la empresa.</p>
                    <h3 class="pegado">Competidores</h3>
                    <p>Ofrecen el mismo producto o productos sustitutos (cubren la misma necesidad, aunque no son idénticos).</p>
                    <h3 class="pegado">Entidades financieras</h3>
                    <p>Las entidades financieras más comunes son los bancos, estos son una fuente de financiamiento importante, prestan dinero y a cambio cobran una tasa de interés.</p>
                    <h3 class="pegado">Comunidad</h3>
                    <p>La comunidad en la que se inserta la empresa tiene ciertas características, tales como: ideología, costumbres, inquietud por el medio ambiente y en general un estilo de vida. Dichos aspectos definitivamente influyen en la empresa.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <p></p>
                    <h3 class="pegado">Alcaldías o municipios</h3>
                    <p>Las empresas al realizar algunos trámites y permisos tienen relación con las alcaldías o municipios. Por ejemplo: trámite de uso de suelo y permisos de apertura, por mencionar algunos.</p>
                    <h3 class="azul pegado">Macro ambiente</h3>
                    <p>Conformado por todos aquellos factores que tienen una gran influencia en la empresa.</p>
                    <h3 class="pegado">Económicos</h3>
                    <p>La inflación, las tasas de interés, y el tipo de cambio, entre otros, son factores que inciden en los costos y por tanto en el precio y en el resultado de la empresa.</p>
                    <h3 class="pegado">Tecnológicos</h3>
                    <p>Las nuevas tecnologías no solo facilitan y/o automatizan el trabajo, también abren nuevas oportunidades de negocio.</p>
                    <h3 class="pegado">Político-legales</h3>
                    <p>Las iniciativas, la legislación y en general las decisiones del gobierno afectan a las empresas. Por ejemplo: en materia laboral, impuestos e inversión extranjera, por mencionar algunos.</p>
                    <h3 class="pegado">Demográficos</h3>
                    <p>La información sobre la población, como por ejemplo: edad, cantidad de hombres y de mujeres, nivel de ingresos, nivel socioeconómico, entre otros, son datos en los que las empresas podrían apoyarse para identificar ¿qué vender? ¿a quién vender? y ¿dónde se localizan los clientes?, entre otras interrogantes.</p>
                    <h3 class="pegado">Socio culturales</h3>
                    <p>Corresponde a los estilos de vida, costumbres, hábitos alimenticios, religión y demás aspectos que condicionan el comportamiento de las personas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <p></p>
                    <h3 class="pegado">Medioambientales</h3>
                    <p>Hoy día existe una preocupación mundial por minimizar el impacto medio ambiental, lo que supone un esfuerzo y un costo para las empresas. Existen leyes que regulan aspectos ambientales y quienes no las cumplan son acreedores a sanciones.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                    <h2>Cierre de la unidad temática</h2>
                    <p><span class="azul">¡Felicidades!</span> Has concluido esta primera unidad temática. Ahora tienes más elementos que te ayudarán a reconocer la relevancia que tienen las finanzas en todas las organizaciones y en específico en las empresas, independientemente de su constitución, tamaño y giro.</p>
                    <p>Recuerda que las empresas son indispensables en nuestras vidas y que constituyen la columna vertebral de la economía. En este sentido, la productividad, la rentabilidad y la competitividad se han convertido en tres de las principales pretensiones de muchas empresas. Para lograr dichas pretensiones se requiere, entre otros aspectos, de la toma de decisiones basadas en información financiera verídica, confiable y oportuna que se verá reflejada en los estados financieros. Información financiera y estados financieros son temas que estudiarás en la siguiente unidad temática.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="area">
                <div class="paper-content">
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
        </div>
    </div>
    <div class="page page-cover page-cover-top" data-density="hard">
        <div class="page-content">
        </div>
    </div>
</div>