.area {
    position: relative;
    display: block;
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: #fafafa;
}

.area:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 35px;
    background-size: 30px 30px;
    border-right: 3px solid #D44147;
    box-sizing: border-box;
}

.paper-content {
    position: absolute;
    top: 30px; right: 0; bottom: 30px; left: 0;
    padding-left: 50px;
    background: linear-gradient(transparent, transparent 24px, #91D1D3 24px); /*Estos dos pal tamaño de letra, dos menos que el de abajo (pa que las líneas se separen pues)*/
    background-size: 26px 26px;
}

.paper-content h2{
    width: 100%;
    max-width: 100%;
    line-height: 26px; /* Este del tamaño del background size del paper content*/
    margin-top: 0;
    margin-bottom: 26px; /* Igual que line-height*/
    padding-right: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    background: transparent;
    color: #231c38;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 18px; /* Tamaño de letra 10 pixeles menos que el de paper content*/
    box-sizing: border-box;
    z-index: 1;
}

.paper-content p{
    width: 100%;
    max-width: 100%;
    line-height: 26px; /* Este del tamaño del background size del paper content*/
    margin-top: 0;
    margin-bottom: 26px; /* Igual que line-height*/
    padding-right: 15px;
    text-align: justify;
    border: 0;
    outline: 0;
    background: transparent;
    color: #231c38;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 14px; /* Tamaño de letra 10 pixeles menos que el de paper content*/
    box-sizing: border-box;
    z-index: 1;
}

.flip-book {
    display: block;
    background-size: cover;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.page {
    padding: 20px;
    border: solid 1px #7e80e6;
    background: #b7baef;
    overflow: hidden;
}

.page.page-cover {
    background-color: #b7baef;
    color: #0b0d33;
    border: solid 1px #7e80e6;
}

.page.page-cover h2 {
    text-align: center;
    padding-top: 30%;
    font-size: 210%;
}
.page.page-cover.page-cover-top {
    box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}
.page.page-cover.page-cover-bottom {
    box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

.page .page-content {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.page .page-content .page-header {
    height: 30px;
    font-size: 100%;
    text-align: center;
}
.page .page-content .page-image {
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.page .page-content .page-text {
    height: 100%;
    flex-grow: 1;
    font-size: 80%;
    text-align: justify;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: solid 1px #f4e8d7;
}
.page .page-content .page-footer {
    height: 0px;
    border-top: solid 1px #f4e8d7;
    font-size: 80%;
    color: #998466;
}
.page.--left {
    border-right: 0;
}
.page.--right {
    border-left: 0;
}
.page.--right .page-footer {
    text-align: right;
}
.page.hard {
    background-color: #f2e8d9;
    border: solid 1px #998466;
}

