.unidades {
    position: absolute;
    top: 30vh;
    left: 10px;
    width: 8.33%;
}

.unidades img {
    display: block;
    width: 100%;
    margin-left: 8px;
    margin-right: 0px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
}