.barra {
    display: block;
    float: left;
    margin-right: auto;
    max-width: fit-content;
    height: 20vh;
    padding-top: .07%;
    padding-bottom: .07%;
    margin-left: 3.38%;
    margin-top: 0px;
    background: #D6EAF6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 11px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.barra img {
    display: block;
    height: 12%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
}