<div class="cuadro-contenidos">
    <ul>
        <li class="botonTelefono" id="pag2">Introducción</li>
        <li class="botonTelefono" id="pag3">Unidad de competencia</li>
        <li class="botonTelefono" id="pag4">1.1. La empresa</li>
        <li class="botonTelefono" id="pag5">1.1.1 Constitución jurídica</li>
        <li class="botonTelefono" id="pag7">1.1.2 El área financiera en la estructura organizacional</li>
        <li class="botonTelefono" id="pag9">1.2 Función y objetivo de las finanzas empresariales</li>
        <li class="botonTelefono" id="pag13">1.3 Las finanzas empresariales y su relación con otras disciplinas</li>
        <li class="botonTelefono" id="pag14">1.4. Factores del micro y macro ambiente que impactan a la empresa y a sus finanzas</li>
        <li class="botonTelefono" id="pag17">Cierre de la unidad temática</li>
    </ul>
</div>